body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f5af19, #f12711);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    color: #fff;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
}

.card {
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #ACB6E5, #74ebd5);
}

.card h2 {
    margin: 10px 0;
}

.payment-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.payment-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
